.vscode/

build/
objects/
testing/
target/

SDL2.dll

tags
ctags.opts
ctags.sh

clean.bat
compile.bat
run.bat
test.bat

.DS_Store
tests

scroll-and-sigil
!scroll-and-sigil/

scroll-and-sigil.exe

*.obj
